*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{  
     position: relative;
     bottom: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #e3e0cf; 
    /* background-color: #F2EDE6; */
    margin: 0px 28px; 
    text-transform: capitalize;
    opacity: 0.8; 
    height: 70px;
}   
.kan1 img{ 
    height: 100px;
    width: 100%;
}
.kan3 input{  
    border-radius: 3px ;
    height: 29px;
    width: 72%;
    border: 1px solid aliceblue;
}  
.kan3 .mi:hover{ 
    cursor: pointer;
    opacity: 0.8;
}
.kan3 .mi{   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: -2px;
    height:27px ; 
    text-transform: capitalize;
    background-color: #6E5E51;
    color: aliceblue;
    padding: 4px; 
    border-radius: 2px ;
    border: 2px solid  #6E5E51;
}
.kan2 ul{ 
display: flex; 
justify-content: center; 
list-style: none; 

}  
.kan2 ul li{   
    /* color: black; */
    font-family: 'Dancing Script', cursive; 
    font-size: 20px;
    padding: 10px;
}
.kan2 ul li a{  
    color: black; 
    font-weight:bold;
    text-decoration: none;
}  
.kan2 ul li.ui :hover{ 
    color:cornsilk;
    font-size: 22px;
}
 .iconify{ 
    font-size: 27px; 

 } 
 .iconify:hover{ 
color: lightcyan;
 }
.img{ 
    display: flex; 
    /* align-items: center; */
} 
.img1{  
    
  background-attachment: fixed;
   
background-image: url("img1.jpeg");
    flex: 50%;  
    background-repeat: no-repeat; 
    background-size: 50% 100%; 
    height: 900px; 
  

}   

.img2 p{ 
    font-family: 'Playfair Display', serif;
    font-size: 43px;
}
.img2{    
    display: flex; 
 
    align-items: center;
    justify-content: center; 
    background-image: url("img2.jpeg");
    flex: 50%; 
    background-repeat: no-repeat;  
    background-size: 100% 100%; 
    height: 900px;  
    font-family: 'IBM Plex Serif', serif; 
    font-size: 25px; 
    padding: 320px 40px;
    color:#e3e0cf;
    flex-wrap: wrap; 
    
}   
 

.bab{ 
    display: flex; 
    padding: 20px 80px; 
    justify-content: space-around;
} 
.bab1{  
    padding: 0px 50px 20px 50px;
    flex: 50%; 
  
} 
.bab2{   
    padding: 0px 50px 20px 50px;
   margin-left: 20px;
    flex: 50%;
} 
.bab1 img{  
height: 550px; 
width: 87%;
} 
.bab2 img{  
    height: 550px;  
    width: 75%;
    
} 
.bab1 img:hover,.bab2 img:hover{ 
    cursor: pointer;
    opacity: 0.7;
    border: 1px solid gray;
    transition: 1s;
} 
.bab1 p , .bab2 p{  
    font-size: 25px;
    font-family: 'Merriweather', serif; 
    color:#000;
} 
.bab1 a , .bab2 a {  
    font-size: 26px;
    color:#e3e0cf;
    text-decoration: none;
}
.bab1 a:hover,.bab2 a:hover{ 
    opacity: 0.7;
}  
.mal{ 
    background-image: url("img6.jpeg"); 
    background-size: 100% 500px;
    height: 500px;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;     
    animation: slider infinite 20s linear;
}   

@keyframes slider{
    0%{  
        
 background-image: url("img6.jpeg");
    } 
    35%{  


background-image: url("img7.jpeg");
    } 
    75%{  
        
background-image: url("img8.jpeg");
    }

}
.mal2{   
    background-color:#e3e0cf;
    opacity: 0.9;
    color: #000;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 40%;
    
}  
.malp{  
    padding: 6px;
    font-size: 40px; 
    border-bottom: 2px solid black;
} 
.malp1{ 
    padding: 6px;
}
.malp1 a{   
    opacity: 1;
    text-decoration: none;
    color:#000;
    font-size: 28px;
} 
.malp1 a:hover{
color:bisque;
}
.malp2{  
    margin: 3px 8px; 
    padding: 8px;
    font-size: 18px;  
    text-align: center;
    text-transform: capitalize;
}
.lak{  
    margin-top: 20px;
    display: flex;

} 
.lak1{  
flex: 50%;
} 
.lak2{    
    margin-bottom: 4px;
    text-transform: capitalize;
    display: flex;
    justify-content: center; 
    align-items: center;
flex: 50%; 
background-color: #e3e0cf; 
flex-direction: column;
}    
.lak2 p{ 
   font-size: 27px;  
    font-family: 'Times New Roman', Times, serif;
}
.lak2 .pre{  
    font-size: 40px;
    font-family: 'Tinos', serif; 
    line-height: 70px;
} 

.lak2 input{  
    margin-top: 20px;
    height: 35px;
    width: 70%;
    border: 2px solid #e3e0cf;
}
.lak1 img{  
    
width: 100%;
}  
button.ia{    
    text-transform: capitalize;
    font-size: 25px;
    padding: 5px;
    margin: 10px ;
    height: 50px; 
    border: 4px solid gray;
    background-color: gray; 
    border-radius: 4px ;

} 
button:hover{ 
    opacity: 0.8;
    
}
button a{ 
    text-decoration: none ;
    color: black;
    
} 
.lak2 .oi{ 
    font-size: 18px;
} 
 .oi a{ 
    text-decoration: none;
    color: black;
}  


footer{     
    border-radius: 4px;
    /* position: absolute; */
    bottom: 0px;
    /* margin-top: 4px; */
    /* background-color:#6E5E51; */ 
    background:linear-gradient(to right,gray,#e3e0cf,lightblue);
    display:flex; 
    align-items: center;
    justify-content: space-around;
}   
.arun1 p{ 
font-size: 15px;
color: white;
text-transform:capitalize;
}
.arun p{  
    color:white;
    font-size: 16px;
}
.arun01 ul{   
    margin-top: 35px;
    list-style: none;
display: flex; 
} 
.arun01 ul li{
    padding-right: 18px;
}  
.arun2 .reo{ 
    font-size: 18px;
    line-height: 30px;
    color: white;
    text-transform: capitalize;
}
.arun2{ 

    font-size: 14px;
    line-height: 30px;
    color: white;
    text-transform: capitalize;

} 








@media (max-width :1176px)
{  
    .bab1 img,.bab2 img{ 
        height: 450px;
    } 
    .bab2 img{ 
        width: 83%;
    }
 .bab1 p,.bab2 p{ 
    font-size: 18px;

 } 
 .img1,.img2{ 
    height: 800px;
 } 
 .img1{ 
    flex: 48%;
 } 
 .img2{ 
   font-size: 20px; 
    flex: 52%;
 } 
 header{ 
    bottom: 750px;
 }
} 


@media (max-width:950px){ 
    .img2{ 
        font-size: 15px;
    }
    .bab2 p,.bab1 p{ 
        font-size: 15px; 
        font-style: bold;
    } 
 
}





@media (max-width:820px){

 .img1,.img2{ 
    height: 650px;
 }   
 .img1{ 
    flex: 50%; 
    /* background-size: 50% 70%; */
 } 
 
 .img2{ 
   font-size: 14px; 
    flex: 50%;
 } 
 header{ 
    bottom: 600px;
 }   

.bab1{  
    padding: 0px 30px 20px 30px;
     
  
} 
.bab2{   
    padding: 0px 30px 20px 30px;
}
 .bab1 img,.bab2 img{ 
        height: 370px;
    }  
    .bab1 img{ 
        width: 95%;
    }
    .bab2 img{ 
        width: 97%;
    }
 .bab1 p{ 
    font-size: 15px;

 } 
 .bab2 p{ 
    font-size: 15px;
 } 
.malp2{ 
    font-size: 16px;
} 

.lak2 .pre{ 
    font-size: 38px;
}
.lak2 p{ 
    font-size: 22px;
}
button.ia{ 
    font-size: 20px;
    height: 40px;
} 
.img2{ 
        font-size: 13px;
    }
}

@media (max-width:760px){ 

header{ 
    bottom: 430px ;
    height: 40px;
    margin: 0px 10px;
} 

.kan3 input{ 
    width: 45%; 
    height: 17px;
}
.kan3 .mi{  
   
    height: 16px;
    font-size: 8px;
}
.kan2 ul li{ 
    font-size: 10px;
    padding: 3px;
} 
.kan2 ul li.ui :hover{ 
    font-size: 15px;
} 
.iconify{ 
    font-size: 12px;
} 
.img2{ 
    font-size: 8px;
}
 
.kan1 img{
    height: 65px;
    width: 100%; 
    padding-right: 25px; 
    margin-right: 5px;
}
 

.img1, .img2{ 
    height: 400px;
}
.img1{   
    display: none;

    /* background-size: 50% 70%; */
} 
.img2{   
  
    background-image: url("img9.jpeg");
    background-size: 100% 65%;
    font-size: 10px; 
    animation: shimp infinite 10s linear;
}  
@keyframes shimp{ 
0%{ 
background-image: url("img9.jpeg");
} 
40%{  
    background-image: url("img10.jpeg");

}

75%{ 
background-image: url("img11.jpeg");
}

}


.img2 p{ 
    font-size: 20px;
}
 


.bab{ 
    padding: 0px 50px; 
    padding-bottom: 60px;
}
.bab1{  
    padding: 0px 3px 0px 0px;
     
  
} 
.bab2{   
    padding: 0px 0px 0px 2px;
}
.bab1 img,.bab2 img{ 
        height: 200px; 
        width: 100%;
    }   
    .bab1 p, .bab2 p{ 
    font-size: 7px;

 } 
.bab1 a ,.bab2 a{ 
    font-size: 15px;
}
 
.img{ 
    height: 450px;
} 
 



.mal{ 
    height: 250px;  
    background-size: 100% 240px; 
    animation: hero infinite 20s linear;
} 
.mal2{ 
    width: 50%;
} 
@keyframes hero{  
    0%{ 
        background-image: url("img6.jpeg");
    }
    35%{ 
        background-image: url("img12.jpeg");
    } 
    70%{ 
        background-image: url("img13.jpeg");
    }
}
.malp{  
    padding: 2px;
    font-size: 17px;
}  
.malp1{ 
    padding: 2px;
}
.malp1 a{ 
font-size: 14px;
}
.malp2{ 
    font-size: 8px;
}  
 
 

.lak2 .pre{  
    line-height: 25px;
font-size: 20px;
}

.lak2 p{ 
   font-size: 10px;  
    
} 
.lak2 input{  
    margin-top: 14px;
    height: 22px;
    width: 70%;
    ;
} 

button.ia{    
    text-transform: capitalize;
    font-size: 12px;
    padding: 3px;
    margin: 10px ;
    height: 25px; 
} 
.oi a{ 
    font-size: 12px;
} 






.arun p{ 
    font-size: 7px;
}
.arun01 ul{   
    margin-top: 15px;
  
} 
.arun01 ul li{
    padding-right: 8px;
}   

.arun1 p{
font-size: 6px;
}
.arun2{ 
    font-size: 8px; 
    line-height: 15px;
}
.arun2 .reo{ 
    font-size: 8px;
    line-height: 12px;
    
}
}
